/* Fonts */
@font-face {
    font-family: "Montserrat Medium";
    src: url("fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Bold";
    src: url("fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Fraunces Bold";
    src: url("fonts/Fraunces-Bold.ttf") format("truetype");
}

/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variables */
:root {
    --Green-500: hsl(158, 36%, 37%);
    --Green-700: hsl(158, 42%, 18%);
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
}

/* Styles */
*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    background-color: var(--Cream);
}
.card {
    max-width: 600px;
    font-family: "Montserrat Medium", sans-serif;
    font-size: 14px;
    margin: 30px 20px 40px;
    background-color: #fff;
    border-radius: 10px;
}
.card__img-mobile {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card__img-desktop {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.card__content {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 30px 35px;
    color: var(--Grey);
}
.content__label {
    letter-spacing: 6px;
}
.content__title {
    font-family: "Fraunces Bold", sans-serif;
    font-size: 32px;
    color: var(--Black);
    line-height: 1.2;
}
.content__text {
    line-height: 1.5;
}
.content__price {
    display: flex;
    align-items: center;
    column-gap: 18px;
}
.content__price-offer {
    color: var(--Green-500);
    font-family: "Fraunces Bold", sans-serif;
    font-size: 32px;
}
.content__price-main {
    text-decoration: line-through;
}
.content__button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    background-color: var(--Green-500);
    border: 1px solid var(--Green-500);
    font-family: "Montserrat Bold", sans-serif;
    cursor: pointer;
}
.content__button svg {
    width: 24px;
    height: 24px;
}
.content__button:hover,
.content__button:focus {
    background-color: var(--Green-700);
    border: 1px solid var(--Green-700);
}

/* Media Queries */
@media screen and (min-width: 600px){
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 20px;
    }
    .card {
        display: flex;
        flex-direction: row;
    }
    .card__img {
        flex: 1;
    }
    .card__content {
        flex: 1;
    }
    .card__img-mobile {
        display: none;
    }
    .card__img-desktop {
        display: block;
    }
}